<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        autoReload="true"
        internalLogLevel="Warn"
        internalLogFile="nlog-internal.log"
        concurrentWrites="true"
        keepFileOpen="false">

  <extensions>
    <!-- Enable NLog.Web for ASP.NET Core -->
    <add assembly="NLog.Web.AspNetCore"/>
  </extensions>

  <!-- Layouts -->
  <variable name="normalLayout" value="${longdate}|${logger}|${uppercase:${level}}|${message} ${exception:format=tostring}" />

  <!-- Various log targets -->
  <targets>
    <target xsi:type="File" name="allLogFile" fileName="nlog-all.log" layout="${normalLayout}" />

    <target xsi:type="File" name="ownLogFile" fileName="nlog-own.log" layout="${normalLayout}" />

    <target xsi:type="File" name="errorLogFile" fileName="nlog-error.log" layout="${normalLayout}" />

    <target xsi:type="ColoredConsole" name="console" useDefaultRowHighlightingRules="false" layout="${normalLayout}" >
      <highlight-row condition="level == LogLevel.Debug" foregroundColor="DarkGray" />
      <highlight-row condition="level == LogLevel.Info" foregroundColor="Gray" />
      <highlight-row condition="level == LogLevel.Warn" foregroundColor="Yellow" />
      <highlight-row condition="level == LogLevel.Error" foregroundColor="Red" />
      <highlight-row condition="level == LogLevel.Fatal" foregroundColor="Red" backgroundColor="White" />
    </target>
  </targets>

  <rules>
    <!-- All logs, including from Microsoft -->
    <logger name="*" minlevel="Trace" writeTo="allLogFile" />

    <!-- Skip Microsoft logs - no writeTo attribute -->
    <logger name="Microsoft.*" minlevel="Trace" final="true" />
    <logger name="*" minlevel="Trace" writeTo="ownLogFile" />

    <logger name="*" minlevel="Info" writeTo="console" />
    <logger name="*" minlevel="Error" writeTo="errorLogFile" />
  </rules>
</nlog>